%h2= t('.title')
%dl.attributes
  - @service.meta_attributes.each do |attribute|
    %dt= attribute
    %dd= raw auto_link @service.send(attribute).to_s

%h3= t('.collection_title')
%ul.explorer.dataset
  - @service.records.each do |dataset|
    %li= link_to dataset, dataset_path(dataset)

.info= t('rgovdata.live_warning')