%h2= t('.title')
%dl.attributes
  - @dataset.meta_attributes.each do |attribute|
    %dt= attribute
    %dd= @dataset.send(attribute)
%h3= t('.collection_title')
.pageload{ 'data-url' => table_dataset_url(@dataset) }
  .loading= t('loading.api')

.info= t('rgovdata.live_warning')