%h2= t('.title')
%dl.attributes
  - @dataset.meta_attributes.each do |attribute|
    %dt= attribute
    %dd= @dataset.send(attribute)
%h3= t('.collection_title')
.pageload{ 'data-url' => table_dataset_url(@dataset) }
  .loading= t('loading.api')

.info= t('rgovdata.live_warning')
%h3= t('howto.api')
%pre.code
  %code
    = preserve do
      :escaped
        # get a dataset:
        @dataset = RGovData::Catalog.get('//sg/nlb/LibrarySet')
        # inspect the "meta" attributes of the dataset:
        puts @dataset.meta_attributes.join(',')
        #  you can iterate over the datasets:
        @dataset.records.each { |row| puts row }
        # use the attributes collection to address elements of a row:
        row = @dataset.records.first
        @dataset.attributes.each do |attribute|
          puts "\#{attribute}: \#{@dataset.attribute_value(row,attribute)}"
        end

