%h2= t('.title')
%dl.attributes
  - @dataset.meta_attributes.each do |attribute|
    %dt= attribute
    %dd= @dataset.send(attribute)

%h3= t('.collection_title')
%table
  %thead
    %tr
      - @dataset.attributes.each do |attribute|
        %th= attribute
  %tbody
    - @dataset.records.each do |row|
      %tr
        - @dataset.attributes.each do |attribute|
          %th= row.send(attribute)

.info= t('rgovdata.live_warning')