%h2= t('.title')
%p= t('.p1')
.note= t('.note1')

%h3= t('.oneline.title')
%p= t('.oneline.p1')
%pre.code
  %code
    = preserve do
      :escaped
        RGovData::Catalog.get('//us/eqs7day-M1/csv').records.count
.inline-pageload.examples{ 'data-url' => harparray_examples_url }
  .prompt= t('show_me')

%p= t('.oneline.p2')
%pre.code
  %code
    = preserve do
      :escaped
        RGovData::Catalog.get('//sg/nlb/LibrarySet').records.each { |library| puts library.Name }
.inline-pageload.examples{ 'data-url' => nlb_examples_url }
  .prompt= t('show_me')

%h3= t('.resources.title')
%ul
  %li= link_to t('rgovdata.gem_source'), AppConstants.github_url
  %li= link_to t('rgovdata.site_source'), AppConstants.site_github_url
  %li= link_to t('rgovdata.rdoc_info'), AppConstants.rdoc_url

%h3= t('.contributing.title')
%p= t('.contributing.p1')

%h3= t('.licensing.title')
%p= t('.licensing.p1')

%h3= t('.encumberance.title')
%p= t('.encumberance.p1')
%p= t('.encumberance.p2')
