#footer
  .wrapper
    .content
      %div= t('rgovdata.version', :version => RGovData::Version::STRING)
      %ul.bottom_nav
        %li= t('rgovdata.resources')
        %li= link_to t('rgovdata.gem_source'), AppConstants.github_url
        %li= link_to t('rgovdata.site_source'), AppConstants.site_github_url
      .vanity= t('site.vanity').html_safe

- if Rails.env.development?
  = javascript_include_tag :jquery_local, :cache => false
- else
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'
= javascript_include_tag :defaults, :cache => false

:javascript
  jQuery(document).ready(function() {
    RGD.init({});
  });

= yield :javascript
= insert_ga_script(AppConstants.ga_id)